/*Here starts the styling for the navbar*/
* {
  font-family: 'Josefin Sans', sans-serif;
}

.navbar {
  background-color: rgb(20, 108, 148);
}


.nav-link.active,
.navbar-brand {
  color: rgb(246, 241, 241);
}

.img-fluid {
  height: 40px;
  width: 40px;
}

.navbar-toggler-icon {
  background-image: url('../src/img/dropdown.svg');
}

.btn-outline-success {
  color: rgb(246, 241, 241);
  border-color: rgb(246, 241, 241);
}

/*Here ends the styling for the navbar*/

